html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}
.main {
    flex: 1;
}

body {
    font-family: "Montserrat", sans-serif;
    background-image: url('../images/фон.jpg');
    background-size: contain;
    color: #fff;
    font-size: 24px;
    font-weight: 500;
}
.navbar {
    background-color: #26222D;
    color: #fff;
    font-size: 24px;
    max-width: 1440px;
    height: 83px;
}
.logo_name {
    font-size: 32px;
    font-family: "Arvo", serif;
}
.search_input {
    width: 300px;
}
#profile_image {
    border-radius: 50%;
}

.dropdown:hover .dropdown_profile {
    display: block;
}
.dropdown_profile {
    right: 0;
    left: auto; /* Отменяет стандартное позиционирование слева */
}
.dropdown_profile {
    background-color: #26222D;
}
/* Изменение цвета фона элемента при наведении */
.dropdown_profile .dropdown-item:hover {
    background-color: #161422; /* Цвет фона при наведении */
}

.main {
    max-width: 1440px;
    background-color: #161422;
}
.main_title {
    font-size: 48px;
}
.main-image {
    border-radius: 15px;
    height: 295px;
}
.filter_item {
    height: 68px;
    border-radius: 10px;
    font-size: 24px;
    font-family: inherit;
    background-color: #3E305F;
}
.filter_item, .filterButton {
    background: linear-gradient(90deg, #3E305F 29%, #8164C5);
}
.filter_item .d {
    color: #000;
}
.filter_link {
    height: 68px;
}
.filterButton {
    height: 68px;
    border-radius: 10px;
    font-size: 24px;
    font-family: inherit;
    background-color: #3E305F;
}
.addButton {
    font-size: inherit;
    font-family: inherit;
}

.modal-design {
    background-color: #161422;
    color: #fff;
    font-family: inherit;
    border-radius: 30px;
}
.modal_title {
    font-size: 36px;
}
.border_line {
    height: 3px;
    background: linear-gradient(90deg, #2F2546, #8C69DF 51%, #322B44);
    width: 511px;
}
.original_font {
    font: inherit;
}
.edit_item {
    margin-bottom: 1.8em;
}
.edit_input {
    font-size: 20px;
    font-weight: 500;
    font-family: inherit;
}
.multiSelectGenres, .multiSelectCountry {
    height: 300px;
}
.select_item {
    width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#description_edit {
    border-radius: 10px;
    font: inherit;
}
.prewiev_image {
    width: 196px;
    height: 295px;
    border-radius: 15px;
    background-color: #fff;
    background: none;
}
/*
.files_container {
    width: 363px;
    height: 149px;
    background-color: #fff;
    border-radius: 10px;
}
*/
.addMovieButton, .cancelButton {
    width: 270px;
    height: 51px;
    background: linear-gradient(90deg, #3E305F, #8164C5);
    border: none;
    border-radius: 10px;
    font-size: inherit;
    font-family: inherit;
}

.extendedFilter_container {
    padding: 0 4em;
}
.filter_select {
    overflow-y: auto;
    max-height: 100px;
}
.field input {
    outline: none;
    border: 1px solid #999;
    margin-left: 25px;
    border-radius: 5px;
    appearance: textfield;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.year-input .separator {
    width: 100px;
}
.year-slider {
    height: 5px;
    border-radius: 5px;
    background-color: #ddd;
}
.year-slider .year-progress {
    height: 5px;
    left: 0%;
    right: 0%;
    border-radius: 5px;
    background-color: #3E305F;
}
.range-input input {
    top: -5px;
    height: 5px;
    pointer-events: none;
    appearance: none;
}
input[type="range"]::-webkit-slider-thumb {
    height: 17px;
    width: 17px;
    border-radius: 50%;
    pointer-events: auto;
    appearance: none;
    background: #3E305F;
}
input[type="range"]::-moz-range-thumb {
    height: 17px;
    width: 17px;
    border-radius: 50%;
    border: none;
    pointer-events: auto;
    appearance: none;
    background: #3E305F;
}

.footer {
    max-width: 1440px;
    background-color: #161422;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
}
.footer_border {
    border-bottom: 1px solid white;
}
.footer_icons {
    width: 195px;
}
.helpButton {
    font-size: 21px;
    background: linear-gradient(90deg, #3E305F 28%, #8263C5 100%);
    border-radius: 15px;
}
.footer_title {
    font-size: 24px;
}

.underline {
    border-bottom: 1px solid white;
}