html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow-x: hidden; /* Предотвращает горизонтальную прокрутку */
}
.main {
    flex: 1;
}

body {
    font-family: "Montserrat", sans-serif;
    background-image: url('../images/фон.jpg');
    background-size: contain;
    color: #fff;
    font-size: 24px;
    font-weight: 500;
}
.navbar {
    background-color: #26222D;
    color: #fff;
    font-size: 24px;
    max-width: 1440px;
    height: 85px;
    margin: 0;
    padding: 0;
}
.logo_name {
    font-size: 32px;
    font-family: "Arvo", serif;
}
.search_input {
    width: 100%;
    max-width: 300px;
}
#profile_image {
    border-radius: 50%;
}
.dropdown-toggle::after {
    display: none !important; /* Убираем стрелочку */
}

.dropdown:hover .dropdown_profile {
    display: block;
}
.dropdown_profile {
    right: 0;
    left: auto; /* Отменяет стандартное позиционирование слева */
    background-color: #26222D;
}
/* Изменение цвета фона элемента при наведении */
.dropdown_profile .dropdown-item:hover {
    background-color: #161422; /* Цвет фона при наведении */
}
.offcanvas {
    background-color: #26222D;
}
@media (max-width: 576px) {
    .logo_name {
        font-size: 6vw;
    }
    #loginButton {
        font-size: 5vw;
    }
}

.main {
    max-width: 1440px;
    background-color: #161422;
}
.page_title {
    font-size: 36px;
}
.inputChange, #text_about_me {
    border-radius: 5px;
}
.separator {
    border-bottom: 2px solid #26222D;
}
#text_about_me {
    width: 672px;
}

.error .error {
    display: block;
    color: red;
    font-size: 20px;
}

#preview_image {
    border-radius: 50%;
    width: 500px;
    height: 500px;
}

.modal-design {
    background-color: #161422;
    color: #fff;
    font-family: inherit;
    border-radius: 30px;
}
.modal_title {
    font-size: 36px;
}
.border_line {
    height: 3px;
    background: linear-gradient(90deg, #2F2546, #8C69DF 51%, #322B44);
    width: 511px;
}
.original_font {
    font: inherit;
}
.underline {
    border-bottom: 1px solid white;
}

.footer {
    max-width: 1440px;
    background-color: #161422;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
}
.footer_border {
    border-bottom: 1px solid white;
}
.footer_icons {
    max-width: 195px;
}
.helpButton {
    font-size: 21px;
    background: linear-gradient(90deg, #3E305F 28%, #8263C5 100%);
    border-radius: 15px;
}
.footer_title {
    font-size: 24px;
}

@media (max-width: 768px) {
    body {
        font-size: 22px;
    }
    #text_about_me {
        width: 100%;
    }
}
@media (max-width: 576px) {
    body {
        font-size: 20px;
    }
    #avatarImage {
        /* font-size: 16px; */
        width: 100%;
    }
    #preview_image {
        width: 300px;
        height: 300px;
    }
}